body, html {
  background-color: #383b3b;
  height: 100%;
}

body {
  overflow-x: hidden;
}

input {
  font-family: inherit;
  font-weight: 200;
}

.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.top-wrap {
  margin: 0 auto;
  text-align: center;
}

.messages-container {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  padding-top: 5px;
  z-index: 1;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  background-color: #383b3b;
}

.users-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  vertical-align:top;
  text-align: left;
  height: 100%;
  padding-left: 20px;
  float: left;
  background-color: #1e1f24;
  overflow: auto;
  z-index: 0;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: contain;
}

label[for="nav-trigger"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1.5em;
  height: 0.2em;
  background: #ccc;
  box-shadow: 
    0 0.4em 0 0 #ccc,
    0 0.8em 0 0 #ccc;
}

.nav-trigger:checked + label {
    left: 17%;
}
 
.nav-trigger:checked ~ .messages-container {
    left: 15%;
}

.nav-trigger + label, .messages-container {
    transition: left 0.15s;
}

.messages-container h1, .users-container h1 {
  color: #ccc;
  font-size: 24px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.messages-container h2 {
  font-size: 20px;
  color: #aaa;
}

.messages-inner {
  margin: 0 auto;
  width: 80%;
}

#messages {
  height: 82%;
  overflow: scroll;
}

.msg-input-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: #586998;
  z-index: 2;
}

#msg-input-form, #nickname-form {
  margin-bottom: 5px;
}

#msg-input-form {
  display: none;
}

#nick-input, #msg-input {
  border: none;
  background: transparent;
  color: #ccc;
  border-bottom: 1px solid #ccc;
  width: 70%;
  margin-bottom: 1rem;
  line-height: 32px;
  outline: none;
  font-size: 18px;
}

#send-btn, #enter-btn {
  margin-left: 10px;
  color: #ccc;
}

#send-btn:hover {
  background-color: rgba(50, 50, 50, 0.3);
}

.chat-msg, .user {
  color: #ccc;
  list-style-type: none;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 200;
}

.user {
  font-weight: 400;
}

.msg-nick {
  font-weight: 400;
  color: #b4bada;
}

.connected {
  color: #b4bada;
  font-weight: 400;
}

.disconnected {
  color: #da999d;
  font-weight: 400;
}